body {
    background-color: #000 !important;
    background: #000 !important;
    height: 100vh !important;
}

#gallery {
    height: 100vh !important;
}

.carousel-inner {
   height: 100vh !important;
}

.carousel-item {
    height: 100vh !important;
}

.carousel-inner .carousel-item img {
    max-height: 100vh;
    height: auto;
    padding: 0;
    margin: 0 auto;
}
